{% extends "base.html" %}


{% block title %} Register {% endblock %}

{% block content %}
    <h2 class="register">Register</h2>

    {% for message in messages %}
    <div class="alert {{ message.tags }}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
     {{ message }}

    </div>
    {% endfor%}

    <form action="{% url 'users:signup' %}" method="post" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      <label for="email">Email</label>
      <br />
      <input type="email" name="email" id="email" required/>
      <br />

      <label for="password">Password</label>
      <input type="password" name="password1" id="password" required/>
      <br />

      <label for="password">Confirm Password</label>
      <input type="password" name="password2" id="password" required/>
      <br />

      <input type="submit" value="sign up" />
    </form>
    <div class="signup">
      <p>Have account? <a href="{% url 'users:login' %}">Log-in here!</a></p>
    </div>

{% endblock %}