body {
        background-color: rgb(255, 247, 236);
        text-align: center;
      }

      h1 {
        margin: 100px 0 30px 0;
        font-size: 25px;
      }

      .logo {
        text-align: center;
        margin: 90px 0 20px 0;
        color: rgb(215, 123, 2);
      }

      .reset-password-confirm {
        text-align: center;
      }