{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% comment %} <link rel="stylesheet" href="style.css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="#">Access Key Manager</a>
      </div>
      <nav>
        <ul class="nav-items">
          <li class="username">{{ request.user.email }}</li>
          <li>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Logout" class="logout" />
            </form>
          </li>
        </ul>
      </nav>
      <div class="request-new-key">
         <form action="{%  url 'key_manager:create_key' %}" method="post">
              {% csrf_token %}
              <input class="request-key" type="submit" value="Request a Key">
            </form>
      </div>
    </header>

    <main>
      <section>
        <div class="keys-container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert {{message.tags }}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
              </div>
             
            {% endfor %}
          {% endif %}
          {% for key in keys %}
          <div class="key-item {{ key.status }}">
            <div class="status-container flex-layout">
              <div class="key-label">Status:</div>
              <div class="{{ key.status }}-txt-color">{{ key.status }}</div>
            </div>

            <div class="key-con flex-layout">
              <div class="key-label">Key:</div>
              <div>{{ key.key }}</div>
            </div>

            <div class="pro-date flex-layout">
              <div class="key-label">Pro. Date:</div>
              <div>{{ key.procurement_date }}</div>
            </div>

            <div class="exp-date flex-layout">
              <div class="key-label">Exp. Date:</div>
              <div> {{ key.expiry_date }}</div>
            </div>
          </div>
          {% empty %}

          <div class="no-keys-container">
            <p class="no-keys-msg">You have No Keys Yet. Request a Key</p>
            <form action="{%  url 'key_manager:create_key' %}" method="post">
              {% csrf_token %}
              <input class="request-key" type="submit" value="Request a Key">
            </form>
          </div>

          {% endfor %}

      </section>

      <!-- pagination -->
      <section>
        <div class="pagination-section">
          {% if is_paginated %}
          <p>{{ page_obj.current_page_number }}</p>
            {% if page_obj.has_previous %}
              <a class="page-btn" href="?page={{ page_obj.previous_page_number }}">&laquo; PREV</a>
            {% endif %}
            
              {% if page_obj.has_next %}
                <a class="page-btn" href="?page={{ page_obj.next_page_number }}">NEXT &raquo;</a>
              {% endif %}    
          {% endif %}      
        </div>
      </section>
    </main>
  </body>
</html>
