      body {
        background-color: rgb(255, 247, 236);
        text-align: center;
      }

      .logo {
        text-align: center;
        margin: 90px 0 5px 0;
        color: rgb(215, 123, 2);
      }

      .reset-password-done {
        text-align: center;
      }